.item_review {
  margin: 0;
  display: flex;

  .review_name {
    color: cornflowerblue;
    font-weight: bold;
  }
  .review_content {
    margin: 0 5px;
    flex: 1;
  }
  .review_date {
    color: gray;
  }
}