.menu-bar {
  list-style-type: none;
  text-align: center;
  li {
    display: inline-block;
    a {
      color: white;
      text-decoration: none;
      padding: 5px 10px;
      display: block;
      border-bottom: 3px solid transparent;

      &:hover {
        border-bottom: 3px solid white;
      }
    }
  }
}