.root {
  width: 100vw;
  height: 100vh;

  body { margin: 0 }
  nav {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 200px;
    top: 0; bottom: 0;
    border-right: 1px solid lightgray;
  }
  section {
    position: absolute;
    text-align: center;
    left: 200px;
    right: 200px;
    top: 0; bottom: 0;

    div {
      margin: 5px 0;
    }

    hr {
      border: 0.5px solid lightgray;
      margin: 0;
    }
  }
  aside {
    text-align: center;
    position: absolute;
    width: 0;
    border-left: 1px solid lightgray;
    right: 0;
    top: 200px; bottom: 0;
  }

}
