.root_home {
  display: flex;
  justify-content: center;
  flex-direction: column;

  hr {
    margin: auto 0;
    border: 0.5px solid lightgray;
  }
  div {
    text-align: center;
  }
  .label_title {
    color: cornflowerblue;
    font-weight: bold;
    font-size: 25px;
    margin: 5px 0;
  }
  //section {
  //  display: flex;
  //  text-align: center;
  //  flex: 1;
  //
  //  div {
  //    margin: 5px 0;
  //  }
  //
  //  hr {
  //    border: 0.5px solid lightgray;
  //    margin: 0;
  //  }
  //}

}
