.app-header {
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  .menu-bar {
    list-style-type: none;
    text-align: center;
    li {

      display: inline-block;
      a {
        color: black;
        text-decoration: none;
        padding: 16px;
        display: block;
        border-bottom: 3px solid transparent;

        &:hover {
          color: yellow;
          border-bottom: 3px solid yellow;
        }
      }
    }
  }
}

.app-body {
  position: absolute;
  top: 80px;
}
